body {
    color: white;
    background: black no-repeat;
    background-size: contain;
    background-image:-webkit-linear-gradient(transparent,rgb(75,0,0)),url("../assets/mars-bg.jpg");
    min-height: 100vh;
}
main {
    display:flex;
    justify-content:center;
    background-color:rgb(0,0,0,.5);
    margin:3em;
    margin-top:0;
    padding-bottom: 1em;
}
bold {
    font-weight: bold;
}
h1 {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    font-size:18pt;
}
h2 {
    font-weight: 500;
    font-size: 14pt;
}
p, a {
    font-family: sans-serif;
    color: white;
    font-size: 10pt;
}
p{
    font-size:11pt;
}
.brand, .brand div{
    display:flex;
    align-items:center;
    justify-content:center;
}
.brand{
    margin-top:1em;
}
.circle {
    justify-content:center;
    align-content: center;
    min-height: 75px;
    min-width: 75px;
    border-radius: 50%;
    border: 3px white solid;
    background-color:red;
    margin-right: 1em;
}
/* .hero{ */
    /* margin-botton: 2em; */   
/* } */
.main-nav {
    display:flex;
    flex-mode: row;
    justify-content:center;
    align-items:center;
}
.main-nav ul {
    display:flex;
    justify-content:space-between;
    /* align-items:center; */
    color:white;
}
.main-nav li{
    display:flex;
    align-items:center;
    margin-right: 1em;
}
.main-nav span {
    margin-left: 1em;
}
.main {
    margin-bottom: 1em;
    /* margin-top: 1em; */
    margin-right: 3em;
    margin-left: 3em;
    background-color: rgb(0,0,0,.75);
    padding-top: 2em;
    padding-bottom: 2em;
}
.main .container {
    display: flex;
    min-width: 400px;
    padding-right: 1em;
    padding-left: 1em;
    margin-right: 1em;
    margin-padding: 1em;
    flex-direction:column;
    align-items:center;
}
.main p {
    /* text-indent: 1em; */
    text-align: center;
}
.form-container{
    display:flex;
    justify-content:center;
}
.image-container {
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
}
.rover-img {
    margin: 1em;
    height: 300px;
    width: 300px;
}
form {
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;
}
#rover-select {
    /* margin-right: 1em; */
}
code {
    display: flex;
    text-align: center;
}
.fave-container{
   margin-left: 1em;  
}
.fave-container li {
    margin-top: 0.5em;
}
